* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
  min-height: 100vh;
}

.heading {
  font-size: 32px;
  margin-bottom: 25px;
  color: black;
  text-align: center;
}

.card {
  background-color: snow;
  padding: 40px 60px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.card h2 {
  margin-bottom: 12px;
  font-size: 22px;
  color: black;
}

.btn {
  margin-top: 20px;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: bold;
  background-color: peachpuff;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background-color: palevioletred;
}
